.footer {
  height: 10%;
  width: auto;
  background-color: gray;
  margin-top: 50px;
  z-index: -9;
}

.laposte {
  margin-left: 10%;
  height: 50px;
  width: 50px;
  position: relative;
  background-color: grey;
  border: 2px solid #555;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(115, 49, 177, 0.8);
}

.simplon {
  height: 50px;
  width: 50px;
  max-height: 150px;
  margin-left: 10%;
  background-color: grey;
  border: 2px solid #555;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(115, 49, 177, 0.8);
}

mat-icon {
  margin-top: 130%;
  color: rgb(115, 49, 177);
  text-shadow: 0 2px 8px rgb(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1);
}

.icons {
  float: right;
  cursor: pointer;
}

.lockIcon {}

.openLockIcon {}
