.footer {
    height:50%;
    width: auto;
    border: 1px solid black;
  margin-top: 20px;
}
.laposte{
margin-left: 10%;
position: relative
}
.simplon {
  margin-left: 10%;

}
.icons {
  position: absolute;
  right: 2%;
  top: 45%
}
