<h1>Edition/création de livre</h1>
<div class="form-book-detail">

<form *ngIf="bookEdited" (ngSubmit)="onSubmit(f)" #f="ngForm" [ngFormOptions]="{updateOn: 'blur'}">
  <mat-form-field>
    <label for="boId"><br />ID de l'ouvrage :</label>
    <input matInput type="text" id="boId" name="boId" [(ngModel)]="bookEdited.boId" readonly>
  </mat-form-field>

  <mat-form-field>
    <img src="{{bookEdited.boCover}}" alt="photo de couverture" />
  <label for="boCover"><br />Url de l'image : <br /> </label>
  <input matInput type="text" id="boCover" placeholder="entrez l'URL de l'image" [(ngModel)]="bookEdited.boCover" name="boCover" required>
  </mat-form-field>

  <mat-form-field>
    <label for="boTitle">Titre de l'ouvrage : <br /></label>
    <input matInput type="text" id="boTitle" placeholder="Entrez le titre" [(ngModel)]="bookEdited.boTitle" name="boTitle" required>
  </mat-form-field>
  <mat-form-field>
    <label for="boAuthor">Auteur : <br /></label>
    <input matInput type="text" id="boAuthor" placeholder="Entrez le nom de l'auteur" [(ngModel)]="bookEdited.boAuthor" name="boAuthor" required>
  </mat-form-field>
  <mat-form-field>
    <label for="stLabelFr">Catégorie : <br /></label>
    <select matNativeControl name="stLabelFr" id="stLabelFr" [(ngModel)]="bookEdited.style.stLabelFr" required>
      <option *ngFor="let style of availableStyles.getValue()">{{style.stLabelFr}}</option>
    </select>
  </mat-form-field>
  <div>
    <label for="boLanguage">Langue de l'ouvrage : <br /></label>
    <input type="text" id="boLanguage" placeholder="Entrez la langue de l'ouvrage" [(ngModel)]="bookEdited.boLanguage" name="boLanguage" required>
  </div>
  <mat-form-field>
   <label for="boReleaseDate">Date de sortie : <br /></label>
   <input matInput type="date" id="boReleaseDate" placeholder="Entrez la date de sortie" [(ngModel)]="bookEdited.boReleaseDate" name="boReleaseDate" required>-->
  </mat-form-field>
  <div>
    <label for="boTopic">Topic du livre : <br /></label>
  <!--  <input type="text" id="boTopic" placeholder="Entrez le nom de l'auteur" [(ngModel)]="bookEdited.boTopic" name="boTopic" required> -->
    <textarea id="boTopic" rows="2" cols="80" placeholder="Entrez le topic du livre" [(ngModel)]="bookEdited.boTopic" name="boTopic">{{bookEdited.boTopic}}</textarea>
  </div>
  <div>
    <label for="boSynopsys">Synopsys du livre : <br /></label>
    <!--  <input type="text" id="boTopic" placeholder="Entrez le nom de l'auteur" [(ngModel)]="bookEdited.boTopic" name="boTopic" required> -->
    <textarea id="boSynopsys" rows="6" cols="80" placeholder="Entrez le synopsys du livre" [(ngModel)]="bookEdited.boSynopsys" name="boSynopsys">{{bookEdited.boSynopsys}}</textarea>
  </div>
  <div>
    <label for="boStock">Exemplaires en stock : <br /></label>
    <input type="number" id="boStock" placeholder="Entrez le nombre d'exemplaires en stock" [(ngModel)]="bookEdited.boStock" name="boStock" required>
  </div>
  <div>
    <label for="boPrice">Prix de vente (en euros) : <br /></label>
    <input type="number" id="boPrice" placeholder="Entrez le prix de vente" [(ngModel)]="bookEdited.boPrice" name="boPrice" required>
  </div>
  <div>
    <label for="boIsbn">numéro ISBN : <br /></label>
    <input type="text" id="boIsbn" placeholder="Entrez le numéro ISBN du livre" [(ngModel)]="bookEdited.boIsbn" name="boIsbn" required>
  </div>
  <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>

</div>
