img {
  border-radius: 10px;
  max-width: 150px;
  max-height: 200px;
  margin-bottom: 20px;
}


form {
  margin: 0 auto;
  max-width: 800px;
  max-height: 1200px;
}

mat-form-field {
  width: 85%;
  margin: 10px;
}

h1 {
  text-align: center;
}


