<h1 *ngIf="newBook">Création de livre </h1>
<h1 *ngIf="!newBook">Edition de livre</h1>

<form *ngIf="bookEdited" (ngSubmit)="onSubmit(f)" #f="ngForm">

  <mat-form-field *ngIf="!newBook">
    <label for="boId">
      <input matInput readonly type="text" id="boId" [(ngModel)]="bookEdited.boId" name="boId">
    </label>
    <mat-hint>ID de l'ouvrage</mat-hint>
  </mat-form-field>

  <img src="{{bookEdited.boCover}}" alt="photo de couverture">
  <mat-form-field>
  <label for="boCover"></label>

  <input matInput type="text" id="boCover" placeholder="entrez l'URL de la page de couverture" [(ngModel)]="bookEdited.boCover" name="boCover" required>
    </mat-form-field>

  <mat-form-field>
    <label for="boTitle"></label>
    <input matInput type="text" id="boTitle" placeholder="Entrez le titre" [(ngModel)]="bookEdited.boTitle" name="boTitle" required>
    </mat-form-field>

  <mat-form-field>
    <label for="boAuthor"></label>
    <input matInput type="text" id="boAuthor" placeholder="Entrez le nom de l'auteur" [(ngModel)]="bookEdited.boAuthor" name="boAuthor" required>
      </mat-form-field>

  <mat-form-field>
    <label for="boEditor"></label>
    <input matInput type="text" id="boEditor" placeholder="Entrez le nom de l'éditeur" [(ngModel)]="bookEdited.boEditor" name="boEditor" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>CATEGORIE : </mat-label>
    <mat-select [(value)]="bookEdited.style.stId">
      <mat-option *ngFor="let style of availableStyles.getValue()" [value]="style.stId">{{style.stLabelFr}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!--<mat-form-field>
    <select matNativeControl name="style" placeholder="Choisissez la catégorie" [(ngModel)]="style.stLabelFr" required>
      <option *ngFor="let style of availableStyles.getValue()">{{style.stLabelFr}}</option>
    </select>
      </mat-form-field>-->

  <mat-form-field>
    <label for="boLanguage"></label>
    <input matInput type="text" id="boLanguage" placeholder="Entrez la langue de l'ouvrage" [(ngModel)]="bookEdited.boLanguage" name="boLanguage" required>
    </mat-form-field>

  <mat-form-field>
    <label for="boReleaseDate"></label>
    <input matInput type="date" id="boReleaseDate" placeholder="Entrez la date de sortie" [(ngModel)]="bookEdited.boReleaseDate" name="boReleaseDate" required>
    </mat-form-field>

  <mat-form-field>
    <label for="boTopic"></label>
    <textarea matInput id="boTopic" rows="2" cols="80" placeholder="Entrez le topic du livre" [(ngModel)]="bookEdited.boTopic" name="boTopic">{{bookEdited.boTopic}}</textarea>
    </mat-form-field>

  <mat-form-field>
    <label for="boSynopsys"></label>
    <textarea matInput id="boSynopsys" rows="6" cols="80" placeholder="Entrez le synopsys du livre" [(ngModel)]="bookEdited.boSynopsys" name="boSynopsys">{{bookEdited.boSynopsys}}</textarea>
    </mat-form-field>

  <mat-form-field>
    <label for="boStock"></label>
    <input matInput type="number" id="boStock" placeholder="Entrez le nombre d'exemplaires en stock" [(ngModel)]="bookEdited.boStock" name="boStock" required>
    </mat-form-field>

  <mat-form-field>
    <label for="boPrice"></label>
    <input matInput type="number" id="boPrice" placeholder="Entrez le prix de vente (en euros)" [(ngModel)]="bookEdited.boPrice" name="boPrice" required>
    </mat-form-field>

  <mat-form-field>
    <label for="boIsbn"></label>
    <input matInput type="text" id="boIsbn" placeholder="Entrez le numéro ISBN du livre" [(ngModel)]="bookEdited.boIsbn" name="boIsbn" required>
    </mat-form-field>

  <br />
  <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>

