<h1>
UNE LISTE DE LIVRES
</h1>

  <div class="mat-elevation-z8 mat-app-background">

    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort style="width:100%">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.boId}} </td>
    </ng-container>

      <!-- Couverture -->
      <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef class="cover"> Couverture </th>
        <td mat-cell *matCellDef="let element" class="cover"> <img src="{{element.boCover}}"  style="max-height:100px" /> </td>
      </ng-container>

    <!-- Titre -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let element"> {{element.boTitle}} </td>
    </ng-container>

    <!-- Auteur -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Auteur </th>
      <td mat-cell *matCellDef="let element"> {{element.boAuthor}} </td>
    </ng-container>

    <!-- Editeur -->
    <ng-container matColumnDef="editor">
      <th mat-header-cell *matHeaderCellDef> Editeur </th>
      <td mat-cell *matCellDef="let element"> {{element.boEditor}} </td>
    </ng-container>

    <!-- Catégorie -->
    <ng-container matColumnDef="style">
      <th mat-header-cell *matHeaderCellDef> Catégorie </th>
      <td mat-cell *matCellDef="let element"> {{element.style.stLabelFr}} </td>
    </ng-container>



    <!-- Catégorie -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"> {{element.boIsbn}} </td>
    </ng-container>

      <!-- Catégorie -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Editer </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button routerLink="/book-detail/{{element.boId}}">EDITER</button> </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]">
    </mat-paginator>
</div>

