
<h2>
UNE LISTE DE LIVRES
</h2>

<div class="mat-elevation-z8 mat-app-background">


  <table mat-table
         class="full-width-table"
         [dataSource]="dataSource"
         matSort aria-label="Elements"
         multiTemplateDataRows>

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.boId}}</td>
    </ng-container>

    <!-- Couverture -->
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef class="cover"> Couverture</th>
      <td mat-cell *matCellDef="let element" class="cover"><img src="{{element.boCover}}" style="max-height:100px"/>
      </td>
    </ng-container>

    <!-- Titre -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre</th>
      <td mat-cell *matCellDef="let element"> {{element.boTitle}}</td>
    </ng-container>

    <!-- Auteur -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Auteur</th>
      <td mat-cell *matCellDef="let element"> {{element.boAuthor}}</td>
    </ng-container>

    <!-- Editeur -->
    <ng-container matColumnDef="editor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editeur</th>
      <td mat-cell *matCellDef="let element"> {{element.boEditor}}</td>
    </ng-container>

    <!-- Catégorie -->
    <ng-container matColumnDef="style">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie</th>
      <td mat-cell *matCellDef="let element"> {{element.style.stLabelFr}}</td>
    </ng-container>

    <!-- Prix -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Prix</th>
      <td mat-cell *matCellDef="let element" class="price"> {{element.boPrice}}</td>
    </ng-container>
    <!-- Stock -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock</th>
      <td mat-cell *matCellDef="let element" class="stock"> {{element.boStock}}</td>
    </ng-container>
    <!-- Bouton éditer -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Editer</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button routerLink="/book-detail/{{element.boId}}">EDITER</button>
      </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-element-cover"><img src="{{element.boCover}}"/></div>

          <div class="example-element-not-cover">
            <div class="example-element-isbn"><span class="detail-cat">ISBN : </span> {{element.boIsbn}}</div>
            <div class="example-element-language"><span class="detail-cat">LANGUE : </span> {{element.boLanguage}}</div>
            <div class="example-element-releaseDate"><span class="detail-cat">DATE DE PARUTION :</span> {{element.boReleaseDate | date: 'dd-MM-yyyy'}}</div>
            <div class="example-element-topic"><span class="detail-cat">TOPIC : </span> {{element.boTopic}}</div>
            <div class="example-element-synopsis"><span class="detail-cat">SYNOPSIS : </span> {{element.boSynopsys}}</div>


          </div>

        </div>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expended-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 15, 20]">
  </mat-paginator>
</div>

