.backVideo {
 position: fixed;
 left: -71%;
 bottom: -42%;
 min-width: 133%;
 min-height: 135%;
 opacity: 0.6;
 z-index: -10;
}

.controls .visible .ng-star-inserted {
  display: none;
}
.controls .ng-star-inserted .hidden {
  display: none;

}

