.searchField {
  width: 55%;
  display: inline-block;
}

.inputSearch {
  width: 75%;
}

.selectBar {}

.searchCard {
  width: 65%;
  margin-left: 25%;
  border: 2px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.searchButton {
  margin-left: 05%;
  display: inline-table;
}


.mat-form-field-infix {
  display: inline-table;
}